@CHARSET "ISO-8859-1";

html, body {
	background:#296ad4;
	font-family: 'latoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #5C666A;
    font-size: 14px;
    padding:20px;
    height: 100%; 
    margin: 0px; 
}

input {
	font-family: 'latoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #5C666A;
    font-size: 14px;
}

fieldset { 
    display: block;
    padding: 15px;
	border: solid 1px #CCC;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.cajaBlancaCentrada{
	width:350px;
	min-height:200px;
	background:white;
	padding:10px;
	padding-left:20px;
	border-radius: 25px;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -80%);
}

.cajaBlancaFondo{
	height:100%;
	background:white;
	padding:25px;
	padding-left:35px;
	border-radius: 25px;
}

/* Grillas */

.grilla table {
    border-collapse: collapse;
    width: 100%;
}

.grilla th, .grilla td {
    text-align: left;
    padding: 8px;
}

.grilla tr:nth-child(even) {
	background-color: #f2f2f2
}

.grilla th {
    background-color: #4CAF50;
    color: white;
}

.grilla tr:hover {
	background-color: #d7eed8;
}


/* Botones */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #296ad4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.5s;
  cursor: pointer;
  width:100px;
  font-weight: bold;
  font-size: 12px;
}

.button:hover {
  background-color: #245cb9;
  font-size: 14px;
  transition: 0.5s;
}

.buttonMenu {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.buttonMenu:hover {
    background-color: #3e8e41;
}

.buttonLogout {
    background-color: #c30000;
}  	

.buttonLogout:hover {
    background-color: #910000;
}  	

.buttonGrilla {
	border-radius: 10px;
	background-color: #CCC;
	padding-left: 15px;
    padding-right: 15px;
    height: 20px;
	border:none;
}

.buttonGrilla:hover {
    color: white;
}



